/*
font-family: 'Dosis', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Ubuntu', sans-serif;
*/

html{
	font-size: 62.5%;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.map-container{
    display: flex;
    flex-flow: column;
    justify-content: center;
	align-items: center;
}

#map{
    width: 100vw;
    height: 100vh;
}

#control-panel{
    display: none;
    z-index: 1000;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3%;
    width: 80%;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    background: #3b3b3b;
    opacity: 0.92;
    background: rgba(255,255,255,0.85);
    border: 0.4rem solid #3b3b3b;
    border-radius: 1rem;
    
    
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
}

.control-panel-content{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.5% 0;
    font-size: 2rem;
    color: #3b3b3b;
}

.control-panel-content button{
    padding: 0.5rem;
    border: none;
    background-color: #3b3b3b;
    border: 0.4rem solid #3b3b3b;
    border-radius: 0.8rem;
    cursor: pointer;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    color: #fff;
}

.control-panel-content div{
    margin: 1.5%;
}

.control-panel-content button:hover{
    color: #FF6C33;
    box-shadow: 0 0 0.5rem #4f4f4f;
}

.control-panel-title{
    background-color: #3b3b3b;
    color: #FF6C33;
    margin: 0;
    padding: 0;
    font-size: 2.6rem;
}

.control-panel-title h4{
    margin: 0;
    padding: 0.4rem 0;
}

#control-panel select{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.6rem;
    color: #4f4f4f;
    font-weight: 500;
    border-radius: 0.4rem;
    background-color: #dcdcdc;
    padding: 0.2rem;
}

#info-box{
    display: none;
    position: absolute;
    z-index: 799;
    left: 1rem;
    top: 9rem;
    font-weight: 500;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    background: rgba(255,255,255,0.85);
    border: 0.5rem solid #3b3b3b;
    border-radius: 1.2rem;
    opacity: 0.92;
    min-width: 300px;
    margin: 0;
}

#info-box .legend{
    box-shadow: 0 0 2rem rgba(0,0,0,0.25);
    background: rgba(255,255,255,0.8);
    border: 0.4rem solid #3b3b3b;
    border-radius: 0.5rem;
    width: fit-content;
    height: 1.8rem;
	margin: 1rem auto;
}

.legend i {
	width: 1.8rem;
	height: 1.8rem;
	float: left;
	box-shadow: 0 0 1.5rem rgba(0,0,0,0.2);
}

#info-box h4{
    font-family: 'Dosis', sans-serif;  
    font-weight: 700;
    color: #FF6C33;
    font-size: 2.4rem;
    padding: 0.3rem 1rem;
    background-color: #3b3b3b;
    text-align: center;
	margin: 0;
}

#info-box h4 span{
    font-size: 1.8rem;
    color: #fff
}

#info-box p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 1rem;
    font-size: 18px;
    color: #4b4b4b;
}

span.close-addr{
    position: relative;
    top: 2.5rem;
}

span.addr-destaque{
    color: #FF6C33;
}

.aviso-map{
    display: none;
    background-color: #e8e8e8;
    margin: 0 auto;
    z-index: 99999;
    position: absolute;
    top: translateY(-50%);
    box-shadow: 0 0 1rem black;
    border-radius: 1rem;
    text-align: center;
    opacity: 0.92;
    border: 0.5rem solid #3b3b3b;
}

.aviso-map h6{
    font-family: 'Dosis', sans-serif;
    font-size: 2.4rem;
    font-weight: 800;
    color: #3b3b3b;
    margin: 1rem;
}

.aviso-map i{
    margin-bottom: 1rem;
    font-size: 4rem;
    color: #FF6C33;
    animation: rotacao 2500ms infinite;
}

@keyframes rotacao {
    50%{transform: rotate(-90deg);}
}


#addr-box{
    display: none;
    background-color: #e8e8e8;
    z-index: 799;
    position: relative;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 1.5rem black;
    border-radius: 1rem;
    text-align: center;
    opacity: 0.92;
    border: 0.5rem solid #3b3b3b;
    width: fit-content; 
}

#addr-info{
    padding: 1rem 1.5rem 1.5rem;
    font-family: 'Dosis', sans-serif;
    font-size: 2.2rem;
    font-weight: 700;
    color: #3b3b3b;
}


@media screen and (max-width: 900px){
    .control-panel-title{
        font-size: 2.5vw;
    }

    #control-panel select, .control-panel-content button, .control-panel-content{
        font-size: 1.8vw;
    }
    .control-panel-content > *{
        margin: 0 5px;
    }
    
    #control-panel{
        bottom: 6%;
    }
}

@media screen and (max-width: 414px){
    #info-box{
        overflow-y: auto;
        height: 30vh;
        position: absolute;
        left: 48vw;
        transform: translateX(-50%);
    }

    #info-box h4{
        font-size: 1.8rem;
    }
      
    #info-box p{
        font-size: 1.5rem;
    }

    #addr-info{
        font-size: 1.2rem;
    }
}

@media screen and (max-height: 414px){
    #info-box{
        height: 50vh;
        overflow-y: auto;
    }

    #info-box h4{
        font-size: 2rem;
    }
    
    #info-box p{
        font-size: 1.5rem;
    }
    
    #addr-box{
        width: 70vw;
        height: 70vh;
        overflow-y: auto;
        top: 10%;
    }

    #control-panel{
        height: 29vh;
        opacity: 95%;
    }
    
    .control-panel-content{
        padding: 0;
    }

    .control-panel-content button{
        font-size: 1rem;
    }

    .control-panel-title h4{
        padding: 0 0 0.2rem 0;
    }
}