/*
font-family: 'Dosis', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Ubuntu', sans-serif;
*/


.center{
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.menu-button{
    font-size: 4rem;
    padding: 1rem 2rem;
    color: #3b3b3b;
    cursor: pointer;
}

.side-menu .menu-button{
    display: flex;
    justify-content: end;
    color: #FFF4EF;
    padding: 1.8rem 0;
    margin: 0;
}

.nav-bar{
    background-color: #FFF4EF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='556' height='463.3' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.03'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
    z-index: 300;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between;
    align-items: center;
    border-bottom: 0.7rem solid #E7A054;
    position: fixed;
}

.nav-right-container{
    display: flex;
    justify-content: end;
    flex-flow: row nowrap;
    align-items: center;
}

.nav-bar-scroll{
    display: none;
    align-items: center;
    z-index: 300;
    justify-content: right;
    background: none;
    position: fixed;
    width: 100%;
    height: 10rem;
    right: 0;
}

.nav-bar-scroll .menu-button{
    color: #fff;
    text-shadow: -0.3rem 0.3rem #3b3b3b;
}

.name-site{
    display: flex;
    align-items: center;
    justify-items: center;
    text-decoration: none;
}

.side-menu{
    float: right;
    position: absolute;
    z-index: 310;
    display: none;
    top: 0;
    right: 0;
    background-color: #3b3b3b;
    padding: 2rem 2rem;
    margin: 0;
    border-bottom-left-radius: 2rem;
}

.side-menu li a{
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #fff;
    line-height: 5rem;
}

.side-menu li a:hover{
    text-decoration:underline;
}


/****SLICK SLIDER****/
.slider-home{
    width: 50vw;
    overflow: hidden;
    margin: 0 auto;
}

.slider-home img{
    margin: 0 5rem;
    width: 100%;
}

.slick-dotted ul{
	list-style-type: none;
	text-align: center;
	position: relative;
	margin-top:1rem;
    padding: 0;
}

.slick-dotted li{
	display: inline-block;
	margin: 0 0.7rem;
}

.slick-dotted button:focus{
    outline: 0;
}

.slick-slide:focus {
    outline: none;
}

.slick-dotted li button{
	width: 1.6rem;
	height: 1.6rem;
	border-radius: 0.8rem;
	color: #d8d8d8;
	background: #d8d8d8;
	border: 0;
	opacity: 1;
	cursor: pointer;
    box-shadow: 0 0 0.1rem 0.1rem #3b3b3b9a;
}

li.slick-active button{
	background: #FF6C33;
	color: #FF6C33;
}
/**END SLICK**/


.h2u-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 2rem;
}

.h2u-img-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 2rem;
}

.h2u h1{
    text-align: center;
    padding: 5rem 0 5rem 0;
    margin: 0;
    font-size: 3.5vw;
    color: #2b2b2b;
    text-shadow: -0.4rem 0.4rem #FFD132;
}

.h2u-legend h2{
    color: #2b2b2b;
    text-shadow: -0.2rem 0.2rem 0.15rem #FF6C33;
    font-size: 2vw;
}

.h2u-fig img{
    width: 100%;
    border-radius: 3rem;
    box-shadow: 0.8rem -0.8rem 0 #2b2b2b, -0.8rem 0.8rem 0 #FFD132, 0 0 2rem 1rem #2b2b2b;
}

i.h2u-arrow{
    font-size: 7vw;
    color: #FFD132;
    text-shadow: -0.8rem 0 0 #2b2b2b;
    margin: 0 3rem;
    padding: 5rem 0 5rem 0;
}

.open-box-tip{
	display: flex;
	flex-flow: row nowrap;
	position: relative;
	top: 10%;
	justify-content: space-evenly;
	align-items:flex-start;
}

.open-box{
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    top: 40%;
    transform: translateY(-60%);
    justify-content: space-evenly;
    align-items:flex-start;
}

.open-box img{
    width: 60%;
    padding: 0 5rem;
}

.open-box h2, 
.open-box-tip h2 {
    max-width: 40rem;
    padding: 0 5rem;
    font-size: 2vw;
    font-weight: 800;
    text-shadow: 0.2vw -0.2vw 0 #2e2e2e;
    background: -webkit-linear-gradient(#FF6C33, #FFD132);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.oa-text{
    display: flex;
    flex-flow: column;
    align-items: center;
		text-align: center;
		justify-content: center;
		background-color: #3a3a3a00;
		border-radius: 20px;
		margin: 0 5vw;
		min-height: 40vh;
		cursor: pointer;
		transition: 300ms all ease-in-out;
	}

.oa-text:hover{
	background-color: #3a3a3a25;
	transition: 300ms all ease-in-out;
}

.oa-tip{
    display: flex;
    flex-flow: column;
    align-items: center;
		text-align: center;
		margin: 0 5vw;
}

.oa-text h2{
    padding-bottom: 3rem;
	}

.app-button{
    border-radius: 0.8rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 3vw;
    padding: 0.5rem 1rem;
    text-decoration: none;
    background-color: #E9DAC4;
    color:#3b3b3b;
    box-shadow: 0.7rem -0.7rem 0 #2b2b2b, -0.7rem 0.7rem 0 #FFD132, 0 0 1.5rem 0.8rem #2b2b2b;
    transition: all 300ms ease-in-out;
    width: auto;
}

.app-button:hover{
    box-shadow: -0.7rem 0.7rem 0 #2b2b2b, 0.7rem -0.7rem 0 #FFD132, 0 0 1.5rem 0.8rem #2b2b2b;
    text-shadow: 0 0 0.2rem #4b4b4b;
    color: #2b2b2b;
}

.app-button-nav{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 2vw;
    text-decoration: none;
    color:#3b3b3b;
    margin-right: 15rem;
    transition: all 300ms ease-in-out;
}

.app-button-nav:hover{
    text-shadow: -0.2vw 0.2vw 0 #FFD132;
}

footer.bg-site{
    height: auto;
}

.footer-container{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.footer-pages{
    display: flex;
    flex-flow: row nowrap;
}

.footer-left{
    color: #1b1b1b;
    font-weight: 800;
}

.footer-left h1{
    text-shadow: -0.2rem 0.2rem 0.2rem #ffd3328e;
}

.footer-pages ul{
    padding: 1rem 1rem 1rem 0;
    margin: 0 2rem;
}

.footer-pages li a{
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #3b3b3b;
    transition: all 250ms ease-in-out;
}

.footer-pages li a:hover{
    color: #1b1b1b;
    text-shadow: -0.2rem 0.2rem 0.2rem #FFD132;
    text-decoration: underline;
}

.footer-logos{
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    opacity: 50%;
    padding: 0 30%;
}

.footer-logos img{
    width: 100%;
}

.made-by{
    text-align: center;
    color: #3b3b3b;
    font-weight: 800;
    font-size: 1vw;
    margin: 1rem 0 1rem 0;
    opacity: 80%;
}

@media screen and (max-width: 414px){
    nav.nav-bar{
        display: none !important;
    }

    .slider-home{
        height: 300px;
    }

    .slider-home img{
        margin: 0 0.3rem;
    }

    #how2use.h2u h1{
        font-size: 8vw;
        text-shadow: -0.4vw 0.4vw #FFD132; 
    }
    
    .h2u-container div.h2u-legend h2{
        font-size: 7vw;
        text-shadow: -0.4vw 0.4vw #FFD132;
    }
    
    .name-site{
        display: none;
    }

    .h2u-container i.h2u-arrow{
        text-shadow: -1vw 0 0 #2b2b2b;
        font-size: 14vw;
    }

    a.app-button-nav{
        display: none;
    }
    .nav-bar-scroll{
        height: 6.5rem;
    }

    .side-menu .menu-button{
        padding: 0;
    }

    .app-button{
        font-size: 6vw;
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        box-shadow: 1.8vw -1.8vw 0 #2b2b2b, -1.8vw 1.8vw 0 #FFD132, 0 0 2vw 0.7vw #2b2b2b;
        text-shadow: 0 0 0.5vw #4b4b4b;
    }
    
    div.open-box h2 {
        font-size: 5vw;  
    }

    .footer-container{
        display: flex;
        flex-flow: column;
        align-items: center;
        text-align: center;
    }

    .footer-logos img{
        min-width: 30rem;
        padding: 1rem 0;
    }
    
    .made-by{
        font-size: 3vw;
    }
}

@media screen and (max-width: 820px){
    .slider-home{
        width: 100vw;
    }

    .app-button-nav{
        font-size: 3vw;
        margin-right: 5vw;
        width: 15rem;
    }

    #how2use.bg-site{
        height: auto;
    }
    
    .h2u-container{
        display: flex;
        flex-flow: column wrap;
        text-align: center;
        margin: 0 2rem
    }

    i.h2u-arrow{
        transform: rotate(90deg);
        font-size: 10vw;
        margin: 3rem 0 4rem 0;
        padding: 0;
        transition: all 300ms ease-in-out;
    }

    .h2u h1{
        font-size: 6vw;
        text-shadow: -0.5vw 0.5vw #FFD132;
    }

    div.h2u-legend h2{
        text-shadow: -0.5vw 0.5vw 0 #FFD132;
        font-size: 5vw;
    }
    

    .h2u-fig{
        margin-top: 1rem;
    }

    .open-box{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
				top: 50%;
    }
    .open-box img{
        width: 70%;
        margin: 1rem 0;
    }
    
    .open-box h2 {
        padding: 0 5rem;
        font-size: 4vw;
    }

		.open-box-tip{
			top: 2%;
		}
		.open-box-tip h2 {
			font-size: 4vw;
			width: 100%;
		}

		.oa-text{
			margin: 1vh 4vw;
		}

		.open-box-tip{
			display: flex;
			flex-flow: row nowrap;
			margin: 0 100px;
			justify-content: space-evenly;
			align-items:flex-start;
		}
		

    .app-button{
        font-size: 6vw;
        margin-top: 1rem;
        padding: 0.7rem 1rem;
        box-shadow: 1.5vw -1.5vw 0 #2b2b2b, -1.5vw 1.5vw 0 #FFD132, 0 0 2vw 0.7vw #2b2b2b;
        text-shadow: 0 0 0.5vw #4b4b4b;
    }

    .footer-container{
        display: flex;
        flex-flow: column;
        align-items: center;
        text-align: center;
    }

    .footer-logos img{
        min-width: 30rem;
        padding: 1rem 0;
    }
    
    .made-by{
        font-size: 3vw;
    }
}